@page "/details/article/{ID:int}"

@using DSV_Frontend.Services
@using DSV_Frontend.UI_Controls.Display
@using SharedDefinitions.Enumerations
@using SharedDefinitions.Services
@using SharedDefinitions.DTOs

@inject IRouteGuardService RouteGuardService
@inject NavigationManager NavManager
@inject IAssetFetchingService AssetFetchService
@inject IObjectMappingService ObjectMapper

@if (!this.isAllowed)
{
    <FPLoadPage></FPLoadPage>
}
else
{
    if (this.articleData != null)
    {
        <table class="table table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>@articleData.AssetID</td>
                </tr>
                <tr>
                    <th>Autor</th>
                    <td>@articleData.Author</td>
                </tr>
                <tr>
                    <th>Titel</th>
                    <td>@articleData.Title</td>
                </tr>
                <tr>
                    <th>Verlag</th>
                    <td>@articleData.Editor</td>
                </tr>
                <tr>
                    <th>Alte Signatur</th>
                    <td>@articleData.PreviousStorageLocation</td>
                </tr>
                <tr>
                    <th>Erscheinungsjahr</th>
                    <td>@articleData.PublicationYear</td>
                </tr>
                <tr>
                    <th>Zusätzliche Kommentare</th>
                    <td>@articleData.AdditionalComments</td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <FPNoData></FPNoData>
    }

}

@code {
    private bool isAllowed;

    private ArticleDataDTO articleData;

    [Parameter]
    public int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.isAllowed = false;

        if (!await this.RouteGuardService.VerifySecurityToken())
        {
            this.NavManager.NavigateTo("/login");
        }

        this.isAllowed = true;
        var assetDTO = await this.AssetFetchService.FetchSingle(new SharedDefinitions.DTOs.SingleDatabaseAssetFilterDTO() { ID = this.ID, ListType = ListType.Articles });
        this.articleData = this.ObjectMapper.Map<DatabaseAssetDTO, ArticleDataDTO, DatabaseAssetDTO, ArticleDataDTO>(assetDTO);
        await base.OnInitializedAsync();
    }
}
